*{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: italic;
    box-sizing: border-box;
}

h1{
    background-color: #b9030f;
    border-top: solid;
    color: #000000;
}

div img{
    width: 100%;
    height: 45vh;
    border-style: solid;
}

nav{
    background-color:rgba(240, 248, 255, 0);
    padding: 0.5em;
    padding-left: 65em;
    position: absolute;
    top: 13px;
}

a{
    display: inline-block;
    width: 10em;
    height: 2em;
    background-color: #e1e3db;
    color: #161917;
    text-align: center;
    padding-top: 0.3rem;
    font-weight: bold;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.35);
}

a.hover{
    background-color: #70160e;
}

a:active{
    background-color: black;
    color: white;
}

a::before{
    background-color: black;
    color: white;
}

h2{
    background-color: #e1e3db;
    text-align: center;
    border-bottom: solid;
}

.logo{
    position: relative;
    top: 150px;
}

article{
    padding-left: 150px;
    padding-bottom: 5em;
}

footer{
    background-color: #161917;
    text-align: center;
}

.imgfooter{
    height: 100px;
}